[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
twine = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"

[requires]
python_version = "3.8"
